{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web de Feca">
    <meta name="keywords" content="feca, café de especialidad, café orgánico, café de origen, baristas expertos, espresso perfecto, métodos de extracción, cold brew, aeropress, tueste artesanal, experiencia sensorial, cafetería acogedora, ambiente relajado, espacio para trabajar, trabajo remoto, wifi gratis, panadería artesanal">
    <meta name="author" content="Lautaro Reche">
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Feca - Café de especialidad</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" aria-label="Hipervínculo a la sección de la página que contiene el Logo de Feca" title="Logo de Feca">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo de Feca">
            </a>
            <ul>
                {% for categorie in categories %}
                    <li>
                        <a href="#{{ categorie }}" aria-label="Sección de {{ categorie }}">
                            {% if categorie == 'Cafe' %}
                                <i class="fa-solid fa-mug-saucer"></i>
                            {% elif categorie == 'Panaderia' %}
                                <i class="fa-solid fa-cookie"></i>
                            {% elif categorie == 'Comida' %}
                                <i class="fa-solid fa-burger"></i>
                            {% elif categorie == 'Bebida' %}
                                <i class="fa-solid fa-glass-water"></i>
                            {% elif categorie == 'Otro' %}
                                <i class="fa-solid fa-plus"></i>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        {% for categorie in categories %}
            <section id="{{ categorie }}">
                <h3>{{ categorie }}</h3>
                <div class="container-cards">
                    {% for product in products %}
                        {% if product.categorie == categorie %}
                            <div class="card-producto">
                                <div class="detalle-producto">
                                    <p>{{ product.name }}</p>
                                    <p>{{ product.description }}</p>
                                </div>
                                <div>
                                    <img class="imagen-producto" src="images/cafe.png" alt="Café">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            <hr>
        {% endfor %}
        <hr>
        <p class="desarrollado">
            <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer" aria-label="Hipervínculo al perfil de LinkedIn de Lautaro Reche">Desarrollado por Lautaro Reche</a>
        </p>
    </main>
</body>
</html>
